<div class="container mt-5 text-center">
    <div class="alert alert-success py-5 shadow">
        <h1 class="display-4">@ViewBag.CheckoutCompleteMessage</h1>
        <p class="lead mt-3">Thank you for shopping with ComicsShop!</p>
        <hr>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3">Back to Home</a>
    </div>
</div>